{% extends 'base.html' %}

{% block content %}

<div class="max-w mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold mb-6 text-center">{{ view.object.pk|yesno:"Service Paket bearbeiten,Service Paket erstellen" }}</h2>

    <form method="post" enctype="multipart/form-data" class="space-y-4">

        {% csrf_token %}

        <p>
            {{ form.name.label_tag}}
            {{ form.name }}
        </p>
        <p>
            {{ form.price.label_tag}}
            {{ form.price }}
        </p>
        <p>
            {{ form.description.label_tag}}
            {{ form.description }}
        </p>

        <div class="flex justify-start">
            <a href="{% url 'servicepackage_list' %}"
               class="px-4 py-2 bg-gray-300 text-gray-600 rounded-lg hover:bg-gray-400 transition mr-2">Abbrechen</a>
            <button type="submit"
                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition cursor-pointer">Speichern</button>
        </div>
    </form>
</div>

{% endblock %}