{% extends 'base.html' %}

{% block content %}

<div class="max-w mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-semibold mb-6 text-center">Service Pakete</h1>
        <div class="flex gap-x-2">
            <button hx-get="{% url 'servicepackage_table_partial' %}"
                hx-target="#servicepackage-table"
                hx-swap="outerHTML"
                class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-400 transition cursor-pointer flex items-center gap-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                Aktualisieren
            </button>
            <a href="{% url 'servicepackage_create' %}"
                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition flex items-center gap-x-2"><svg
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Service Paket erstellen</a>
        </div>
    </div>

    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Preis in EUR</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Beschreibung</th>
            </tr>
        </thead>
        <tbody id="servicepackage-table" class="bg-white divide-y divide-gray-200">
            {% include "adminMenu/servicepackage/servicepackage_table_body.html" %}
        </tbody>
    </table>
</div>

<div id="deleteModal" class="fixed inset-0 z-50 hidden bg-black/40 flex items-center justify-center">
  <div class="bg-white rounded-lg p-6 max-w-md w-full shadow-lg">
    <h2 class="text-xl font-semibold mb-4">Eintrag löschen</h2>
    <p class="mb-4" id="modalText">Sind Sie sicher, dass Sie diesen Eintrag löschen möchten?</p>
    <form method="post" id="deleteForm" class="flex justify-end gap-2">
      {% csrf_token %}
      <button type="button" onclick="closeModal()" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 cursor-pointer">Abbrechen</button>
      <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 cursor-pointer">Löschen</button>
    </form>
  </div>
</div>


<script>
    function openDeleteModal(id, name) {
        const modal = document.getElementById('deleteModal');
        const form = document.getElementById('deleteForm');
        const text = document.getElementById('modalText');

        text.textContent = `Sind Sie sicher, dass Sie Service Paket "${name}" (ID: ${id}) löschen möchten?`;
        form.action = `/service-package/${id}/delete/`;

        modal.classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>

{% endblock %}