{% extends 'base.html' %}

{% block content %}
{% url 'servicepackage_list' as servicepackage_list_url %}

<div class="max-w mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold mb-6 text-center">Service-Paket {{ object.id }}</h2>
    <div class="grid grid-cols-1 gap-2">
        <p><strong>Name:</strong> {{ object.title }}</p>
        <p><strong>Preis in EUR</strong> {{ object.price }}</p>
        <p><strong>Beschreibung:</strong> {{ object.description }}</p>
    </div>

    <div class="mt-4">
        <a href="{{ request.META.HTTP_REFERER|default:servicepackage_list_url }}"
            class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition">Zurück</a>
        <a href="{% url 'servicepackage_edit' object.pk %}"
            class="px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition">Bearbeiten</a>
    </div>
</div>

{% endblock %}