{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<p class="underline decoration-sky-500">Hi {{ user.username }}!</p>
<p><a href="{% url 'password_change' %}">Passwort ändern</a></p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<div class="container mx-auto">
   <section class="flex items-center justify-center h-16">
    <h1 class="text-[3rem]">BookABooth Checklist</h1>
   </section>
  </div>
{% else %}

<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Passwort zurücksetzen</a></p>
<p><a href="{% url 'login' %}">Login</a></p>

<div class="container mx-auto">
    <section class="flex flex-col items-center w-full h-screen">
        <h1 class="text-5xl">Wilkommen bei BookABooth, jetzt auch in Django.</h1>
        <p class="">Im Rahmen meiner Bachelorarbeit entsteht hier eine Anwendung, welche bereits existiert.</p>
    </section>"
</div>
{% endif %}
{% endblock %}