{% for booking in bookings %}
<tr>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-blue-600 hover:underline">
        <a href="{% url 'booking_detail' booking.pk %}">{{ booking.id }}</a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ booking.received }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ booking.status }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ booking.company }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ booking.booth }}</td>
    <td class="px-6 py-4 text-right space-x-2">
        <a href="{% url 'booking_detail' booking.pk %}" class="text-white hover:bg-blue-600 rounded-lg px-4 py-2 bg-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="size-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            Details</a>
        <button onclick="openDeleteModal('{{ booking.id }}')" class="text-white bg-red-500 px-4 py-2 rounded-lg hover:bg-red-600 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="size-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            Stornieren</button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">Keine Buchungen gefunden.</td>
</tr>
{% endfor %}